<script type="text/template" id="success_msg">
    <p>Congratulations! Dentistry is a big part of a healthy life, and we're excited to be a part of yours. We will
        contact you in the next 2 business days to schedule your appointment and to answer any questions you may still have.
        Thank you!</p>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>window.slick || document.write('<script src="js/vendor/slick.min.js"><\/script>')</script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/plugins.js"></script>
<script src="js/functions.js"></script>

<script src="js/main.js"></script>

</body>
</html>