<div class="contact-main">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5>New Patient Hotline</h5>
                <h3 class="phone-number">{{ site.data.content.contact.phone-new }}</h3>
            </div>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-default btn-lg" data-target="#" data-toggle="modal">Request Appointment</a>
        </div>
    </div>
    <h6>Existing patient of our practice call: {{ site.data.content.contact.phone-existing }}</h6>
</div>

