.contact {
  color: $primary-font;
  background-color: $background-first;
  &__main {

  }
  &__title {
    font-weight: bold;
  }
  &__phone {
    font-style: italic;
  }
  &__address {
    &--line1 {

    }
  }
  &--pull-left,
  &--pull-right {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .contact {
    &--pull-left {
      text-align: left;
      padding-top: 20px;
    }
    &--pull-right {
      text-align: right;
    }
  }
}