.contact {
  color: $primary-font;
  background-color: $background-first;
  &__main {

  }
  &__title {
    font-weight: bold;
  }
  &__phone {
    font-style: italic;
  }
  &__address {
    &--line1 {

    }
  }
  &--pull-left,
  &--pull-right {
    text-align: center;
  }
  &__btn {
    margin-top: 5px;
  }
}

.contact_form {
  &__row {
    display: flex;
    margin: 10px 0px;
    height: 30px;
  }
  &__input {
    flex-grow: 1;
    margin: 0px 10px;
  }
}

@media screen and (min-width: 992px) {
  .contact {
    &--pull-left {
      text-align: left;
    }
    &--pull-right {
      text-align: right;
    }
  }
}