.facebook-icon {
  max-width: 40px;
  height: auto;
  fill: $accent-font-first;
}

.footer {
  background: $background-footer;
  padding: 20px;
  color: $accent-font-first;
  &__text {
    margin-top: 0px;
    padding-top: 12px;
    //TODO What the what font?
    //font-family: .AppleSystemUIFont;
    font-size: 14px;
    letter-spacing: -0.23px;
    font-weight: 200;
  }
}
