.header {
  border: solid 1px $c-gray;
  &__info {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .header__info {
    text-align: right;
  }
}

.nav {
  li {
    background-color: $background-dark;
  }
  &__link {
    color: $accent-font-first;
  }
}