.marquee {
  color: $accent-font-first;
  &__slide {
    top: 0px;
    bottom: 0px;
    background-position: center center;
    background-size: cover;

  }
  &__slide-wrapper {
    height: 550px;
  }

  .btn {
    margin: 40px 0px;
  }
}