.about {

  &__first-section {
    padding: 60px 30px 150px 30px;
    text-align: center;
  }
  &__first-section p {
    padding-top: 20px;
    \
  }
  &__image {
    width: 200px;
    margin: 0px auto;
    position: relative;
    top: -100px;
  }
  &__image img {
    border-radius: 100%;
    border: 5px solid white;
  }
  &__second-section>div:nth-child(2) {
    position: relative;
    top: -100px;
  }
  &__section-section {
    margin-bottom: -100px;
  }
  &__more h3 {
    font-size: 36px;
    font-weight: 700;
  }
  &__more a {
    float: right;
    margin-right: 20px;
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.29px;
  }
  &__lead-quote {
    font-size: 24px;
    color: #4A4A4A;
    letter-spacing: -0.39px;
    line-height: 31px;
    text-align: center;
  }
}

