.header {
  & a {
    color: white;
  }

  &__logo {
    text-align: left;
    @media screen and (max-width: $width--medium) {
      text-align: center;
    }
    & img {
      max-width: 500px;
    }
  }

  .font-accent-green {
    font-size: 18px;
  }

  .font-accent-purple {
    font-size: 18px;
  }

  &__info {
    text-align: right;
    @media screen and (max-width: $width--medium) {
      text-align: center;
    }
  }
  &__info--bold {
    font-size: 120%;
    font-weight: 600;
  }
  &__nav {
    clear: both;
    background-color: $background-dark;
    .custom-nav > li > a {
      font-family: 'Raleway';
      padding-left: 0.5%;
      padding-right: 0.5%;
      font-size: 1.0em;
      @media screen and (max-width: $width--xlarge) {
        font-size: 0.9em;
      }
      @media screen and (max-width: $width--large) {
        font-size: 0.8em;
      }
      @media screen and (max-width: $width--medium) {
        font-size: 18px;
      }
    }
  }
}

.custom-nav {
  background-color: #8117B7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  @media screen and (max-width: ($width--medium + 1) ){
    display: none;
    padding-left: 60px;
    padding-right: 0;
  }
  & li {
    display: inline-block;
    @media screen and (max-width: ($width--medium + 1) ){
      display: block;
      padding: 15px 10px 10px 10px;
      width: 100%;
      text-align: center;
    }
  }
  &__menu-icon {
    color: white;
    font-size: 2.7em;
    padding: 5px 20%;
    margin-top: 7px;
  }
  li {
    background-color: $background-dark;
  }
  &__link {
    color: $accent-font-first;
  }
}

//Bootstrap Overrides
.custom-nav>li>a {
  border-radius: 0px;
  height: auto;
  font-family: 'Raleway';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.29px;
  font-weight: 500;
}

.custom-nav>li:hover {
  background-color: #512A65;
}

.custom-nav>li>a:hover {
  background-color: #512A65;
  color: $accent-font-first ;
}

.custom-nav>li.active>a, .custom-nav>li.active>a:hover, .custom-nav>li.active>a:focus, .custom-nav>li.active {
  background-color: #512A65;
}


//Responsive fixes

@media screen and (max-width: $width--medium) {
  .header {
    width: 100%;
    text-align: center;
    &__logo img {
      max-width: 400px;
    }
  }
}

.custom-nav-btn {
  display: none;
}

@media screen and (max-width: $width--medium ) {
  .custom-nav-btn {
    display: block;
  }
  .nav--toggle {
    display: none;
  }
}
