.header {
  &__info {
    text-align: center;
  }
  &__info--bold {
    font-size: 120%;
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) {
  .header__info {
    text-align: right;
  }
}

.font-accent-green {
  color: #7ED321;
  font-size: 18px;
}

.font-accent-purple {
  color: $accent-font-second;
  font-size: 18px;
}

.nav {
  li {
    background-color: $background-dark;
  }
  &__link {
    color: $accent-font-first;
  }
}

//Bootstrap Overrides
.nav-pills>li>a {
  border-radius: 0px;
  height: auto;
}

.nav-pills>li:hover {
  background-color: #512A65;
}

.nav-pills>li>a:hover {
  background-color: #512A65;
  color: $accent-font-first ;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .nav-pills>li.active {
  background-color: #512A65;
}
