.header {

  &__logo {
    text-align: left;
  }

  .font-accent-green {
    font-size: 18px;
  }

  .font-accent-purple {
    font-size: 18px;
  }

  &__info {
    text-align: center;
  }
  &__info--bold {
    font-size: 120%;
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) {
  .header__info {
    text-align: right;
  }
}

.nav {
  li {
    background-color: $background-dark;
  }
  &__link {
    color: $accent-font-first;
  }
}

//Bootstrap Overrides
.nav-pills>li>a {
  border-radius: 0px;
  height: auto;
  font-family: 'Raleway';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.29px;
  font-weight: 500;
}

.nav-pills>li:hover {
  background-color: #512A65;
}

.nav-pills>li>a:hover {
  background-color: #512A65;
  color: $accent-font-first ;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .nav-pills>li.active {
  background-color: #512A65;
}

//Responsive fixes

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    text-align: center;
    &__logo img {
      max-width: 400px;
    }
  }

}
