.marquee {
  height: 600px;
  color: $accent-font-first;
    background-position: center center;
    background-size: cover;
  &__slide {
    background-position: center center;
    background-size: cover;
    display: none;
  }
  &__slide-wrapper {
    //height: 600px;
  }

  &__main-text {
    letter-spacing: -0.4px;
    line-height: 67px;
    @media screen and (max-width: $width--large) {
      font-size: 42px;
    }
    @media screen and (max-width: $width--medium) {
      font-size: 18px;
    }
  }
  &__byline {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -0.58px;
    line-height: 38px;
    font-weight: 200;
  }
  &__quote h3 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.45px;
  }
  &__stars {
    margin-top: 30px;
  }

  .btn {
    margin: 40px 0px;
  }
  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding:20px;
  }
  &--flex-topleft {
    align-items: flex-start;
    justify-content: flex-start;

  }
  &--custom {
    position: relative;
  }
  &--adaptive {
    height: 100%;
    //margin-bottom: -40px;
  }
  &__title--smaller h1 {
    font-size: 48px;
    padding: 10px;
  }
  &__scroll-down {
    position: relative;
    text-align: center;
    top: -90px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  &__scroll-down a {
    color: white;
    font-size: 20px;
    font-weight: 200;
  }
  &__scroll-down img {
    width: 38px;
  }
  &__quote {
    line-height: 40px;
  }

}
.team-header {
  height: 608px;
  @media screen and (max-width: $width--xlarge) {
    height: 501px;
  }
  @media screen and (max-width: $width--large) {
    height: 384px;
  }
  @media screen and (max-width: $width--medium) {
    height: auto;
  }
}

.team-header-wrapper {
  background-position: center center;
  background-size: cover;
  height: 608px;
  padding: 0 20px;
  @media screen and (max-width: $width--xlarge) {
    height: 501px;
  }
  @media screen and (max-width: $width--large) {
    height: 384px;
  }
  @media screen and (max-width: $width--medium) {
    height: 300px;
  }
}

.text-marquee-middle {
  margin-top: 160px;
  @media screen and (max-width: $width--xlarge) {
    margin-top: 130px;
  }
  @media screen and (max-width: $width--large) {
    margin-top: 110px;
  }
  @media screen and (max-width: $width--medium) {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }
}

.slide-container {
  position: absolute;
  top: 0;
  width: 95%;
  margin: 0px 15px;
  color: white;
}

.marquee__slide.slick-slide {
  position: relative;
}

@media screen and (min-width: 1204px) {
  .marquee--flex--bottomright {
    justify-content: flex-end;
    align-items: flex-end;
  }
}