//Slick Overrides

.team-additional .slick-dots {
  background-color: $background-second;
}
.slick-dots {
  bottom: -24px;
}

#associations-section .slick-dots {
  bottom: -35px;
}

#associations-section .slick-dotted.slick-slider {
  margin-bottom: 50px;
}



.slick-dots li {
  margin: 5px;
  @media (max-width: $width--small) {
    margin: 2px;
  }
}

.slick-dots li.slick-active button:before {
  color: #541376;
  opacity: 0.75;
}

.associations-slider .slick-dots button:before,
.team-additional .slick-dots button:before {
  color: #8117B7;
  font-size: 18px;
  @media (max-width: $width--small) {
    font-size: 12px;
  }
}


//arrows

.slick-next {
  right: 5px;
}

.slick-prev {
  left: 5px;
  z-index: 1;
}

.slick-next,
.slick-prev {
  height: 30px;
  width: 30px;
}

.slick-next:before {
  content: "\f0A9";
  font-family: 'FontAwesome';
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 35px;
  line-height: 30px;
}

.slick-prev:before {
  content: " \f0A8";
  font-family: 'FontAwesome';
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 35px;
  line-height: 30px;
}

.team-slick-nav.slick-next:before {
  content: "\f0A9";
  font-family: 'FontAwesome';
  color: #8117B7;
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 35px;
  line-height: 30px;
}

.team-slick-nav.slick-prev:before {
  content: " \f0A8";
  font-family: 'FontAwesome';
  color: #8117B7;
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 35px;
  line-height: 30px;
}
