.team {
  &__main-title {
    line-height: 36px;
    font-weight: 600;
  }
  &__heading.heading {
    padding-top: 10px;
  }
  &--byline {
    font-size: 36px;
    font-weight: 100;
  }
  &__modal-pic {
    text-align: center;
    & img {
      max-width: 200px;
      height: auto;
      margin-bottom: 30px;
    }
  }
}
.team-slider .slick-slide .img-container {
  margin: 0 auto;
  display: inline-block;
  &:hover:after {
    content: "\f067";
    position: absolute;
    top: 40%;
    color: white;
  }
  &:hover:before {
    content: " ";
    display: block;
    height: 308px;
    position: absolute;
    width: 220px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.37);
  }

}
.team-slider .slick-slide {
  text-align: center;
  img {
    max-width: 220px;
  }
}


.team-additional {
  padding-top:40px;
}
.team-header {

}

.associations-slide img {
  max-height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.main-bio-pic {
  margin-top: 20px;
  @media screen and (max-width: $width--xlarge) {
    margin-top: 90px;
  }
  @media screen and (max-width: $width--large) {
    margin-top: 90px;
  }
  @media screen and (max-width: $width--medium) {
    margin-top: 0;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
