<section id="associations-section" class="">
      <div class="associations-slider">
        <div class="associations-slide">
          <img src="/images/associations/aapd.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/acd.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/abpd.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/aap.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/ada.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/ald.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/cds.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/iatp.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/ilca.png" alt="association image">
        </div>
        <div class="associations-slide">
          <img src="/images/associations/isds.png" alt="association image">
        </div>
      </div>
</section>