<div class="container">
    <section class="footer">
        <footer class="footer__wrapper center clearfix">
            <div class="footer__content">
                <a target="_blank" href="https://www.facebook.com/Dentistry-for-Kids-Ltd-Dr-Furusho-Dr-Kollmann-293517314003627/"><img src="images/facebook_round_blue.svg" alt="facebook link" class="facebook-icon pull-left"></a>
                <h6 class="footer__text">Copyright © 2016 All Rights Reserved by <a href="http://www.tysonsteele.com/" target="_blank" class="font-accent-white link-no-style">Tyson Steele Associates</a>.
                    <a target="_blank" href="hipaa-notice.pdf" class="font-accent-white link-no-style">Privacy Policy</a></h6>
            </div>
        </footer>
    </section>
</div>
