    <div class="container">
    <header id="header" class="sticky-style-2 header__content">

        <div class="container clearfix">

            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="header__logo">
                        <a href="index.html"><img src="images/furusho-masthead-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 hidden-xs">
                    <div class="header__info">
                        <h4 class="font-accent-green">Just off Edens Expressway (Hwy&nbsp;94)</h4>
                        <h4 class="font-accent-purple font-weight-bold">New Patients: <span class="header__info--bold">{{ site.data.content.contact.phone-new }}</span></h4>
                        <h6>Existing Patients: {{ site.data.content.contact.phone-existing }}</h6>
                    </div>
                </div>
            </div>



        </div>
        <div id="header-wrap" class="header__nav">
            {% include molecule/nav.html %}
        </div>
    </header>
    </div>

