<section id="marquee-tour" class="section-margins team-header">

  <div class="marquee__slider__wrapper">
    <section class="marquee__slider">

      <div class="marquee__slide">
        <img src="images/tour/tour1.jpg" alt="office picture">
        <div class="slide-container">
          <div class=" text-marquee-middle container center">
            <h1 class="marquee-patients-content">Scheduling Your First<br>Appointment is Easy!</h1>
          </div>
        </div>
      </div>

      <div class="marquee__slide">
        <img src="images/tour/tour2.jpg" alt="office picture">
        <div class="slide-container">
          <div class=" text-marquee-middle container center">
            <h1 class="marquee-patients-content">Scheduling Your First<br>Appointment is Easy!</h1>
          </div>
        </div>
      </div>

      <div class="marquee__slide">
        <img src="images/tour/tour3.jpg" alt="office picture">
        <div class="slide-container">
          <div class=" text-marquee-middle container center">
            <h1 class="marquee-patients-content">Scheduling Your First<br>Appointment is Easy!</h1>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="smooth-scroll-btn marquee__scroll-down">
    <a href="#" data-offset="40" data-scrollto="#section__visit">
      <h4 class="scroll__text">Scroll Down</h4>
      <img src="images/arrow-down.svg" alt="Down Arrow">
    </a>
  </div>
</section>