<section id="marquee-1" class="section-margins team-header">

  <div class="marquee__slider__wrapper">
    <section class="marquee__slider">

      <div class="marquee__slide">
        <img src="images/slide1.jpg" alt="">
        <div id="marquee-slide-container" class="slide-container">
            <div class="row">
              <div class="col-xs-6">
                <h1>Creating happy<br>healthy smiles<br>one child at a time</h1>
                <h3>NOW WELCOMING <br>NEW PATIENTS</h3>
                <a class="btn btn--left btn--inverted marquee__btn1"  data-scrollto="#section-specials" data-offset="50">NEW PATIENT OFFERS</a>
              </div>
            </div>
        </div>
      </div>

      <div class="marquee__slide">
        <img src="images/slide3.jpg" alt="">
        <div class="slide-container">
          <div class="row">
            <div class="col-xs-4 pad-top-3x pad-left-2x">
              <div class="stars">
                <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>
                <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>
                <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>
                <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>
                <i class="fa fa-star fa-star--custom fa-3x" aria-hidden="true"></i>
              </div>
              <h4 class="marquee__quote">“My three kids love them. Great team, very organized operation and state of the art technology is
                a recipe for success. Lastly and definitely not the least, they simply work great with KIDS!” </h4>
              <h4 style="text-align: right;">–Ron N.</h4>
              <a class="btn btn--left btn--inverted marquee__btn2" data-scrollto="#section-reviews" data-offset="50">READ OUR REVIEWS</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="smooth-scroll-btn marquee__scroll-down">
    <a href="#section__about" data-offset="00" data-scrollto="#section__about">
      <h4 class="scroll__text">Scroll Down</h4>
      <img src="images/arrow-down.svg" alt="Down Arrow">
    </a>
  </div>
</section>