body {
  padding: 0px;
  color: #4A4A4A;
}

h6 {
  color: #4A4A4A;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'OpenSans';
}

.nav__link {
  color: #FFF;
}

.font {
  &--highlight {
    color: #C775F1;
  }
  &-accent-green {
    color: #7ED321;
  }

  &-accent-lightgreen {
    color: #A5ED57;
  }

  &-accent-purple {
    color: $accent-font-second;
  }
  &-accent-dark-purple {
    color: #512A65;
  }
  &-accent-white {
    color: $accent-font-first;
  }

  &-accent-yellow {
    color: #FFD700;
  }
  &-accent-blue {
    color: #0D387C;
  }
  &-accent-white-shadow {
    text-shadow: white 0px 0px 15px;
  }
  &-weight-light {
    font-weight: 300;
  }
  &-weight-bold {
    font-weight: 700;
  }

}

h1 {
  font-size: 60px;
  font-weight: 800;
  @media screen and (max-width: $width--xlarge) {
    font-size: 50px;
  }
  @media screen and (max-width: $width--large) {
    font-size: 37px;
  }
  @media screen and (max-width: $width--medium) {
    font-size: 30px;
  }
  &.h1-smaller {
    font-size: 48px;
    @media screen and (max-width: $width--xlarge) {
      font-size: 40px;
    }
    @media screen and (max-width: $width--large) {
      font-size: 30px;
    }
    @media screen and (max-width: $width--medium) {
    }
  }
}


h2 {
  font-size: 36px;
  @media screen and (max-width: $width--xlarge) {
    font-size: 36px;
  }
  @media screen and (max-width: $width--large) {
    font-size: 30px;
  }
  @media screen and (max-width: $width--medium) {
    font-size: 27px;
  }
}

h3 {
  font-size: 26px;
}

h4.marquee__quote {
  font-size: 20px;
  @media screen and (max-width: $width--xlarge) {
    line-height: 30px;
    font-size: 18px;
  }
  @media screen and (max-width: $width--large) {
    line-height: 22px;
    font-size: 16px;
  }
}

h6 {
  font-size: 16px;
}

p {
  font-size: 18px;
  @media screen and (max-width: $width--medium) {
    font-size: 16px;
  }
}

nav a {
  font-size: 16px;
}

label {
  font-weight: 400;
}
