h1.marquee-patients-content {
  padding: 150px 0px 200px 0px;
}

@media (max-width: 767px) {
  .marquee__byline h3 {
    font-size: 20px;
  }
  .heading--small h2 {
    font-size: 24px;
  }
  .btn {
    font-size: 14px;
    padding: 10px 20px;
    margin: 25px 0px;
  }
  .contact__phone {
    font-size: 28px;
  }
  .contact__title {
    font-size: 20px;
  }
  .about__lead-quote {
    font-size: 13px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 40px;
  }
  .marquee__quote h3 {
    font-size: 18px;
  }
  .marquee__byline {
    font-size: 16px;
  }
  .team--byline {
    font-size: 32px;
  }
  .marquee__scroll-down {
    display: none;
  }
  .marquee {
    min-height: 200px;
  }
  .marquee__slide-wrapper h1 {
    padding: 100px 0px 150px 0px;
  }
}

@media (max-width: 767px) {

  .services__content hr {
    display: none;
  }

  .marquee {
    height: 100%;
  }

  .review__slide {
    padding: 10px 50px;
  }

  .container, #header.full-header .container, .container-fullwidth {
     width: 100% !important;
  }

  .marquee__slide-wrapper h1 {
    padding: 0px 0px 0px 0px;
  }

  .marquee__slide-wrapper.marquee-patients h1 {
    padding: 50px 0px;
  }

  .furusho__image img,
  .kollman__image img, {
    max-width: 300px;
  }

}

.marquee__title--smallest h1 {
  font-size: 42px;
  padding: 10px;
}
