---
title: Infant Frenectomy
layout: default
link:
    text: Infant&nbsp;Frenectomy
    url: frenectomy.html
weight: 4
---
<div class="main-container">

    <section class="team-header section-margins">
        <div class="team-header-wrapper hidden-xs" style="background-image: url('images/frenectomy-slide.jpg')">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="font-accent-blue h1-smaller">Discover how this simple procedure can keep your baby smiling</h1>
                </div>
            </div>
        </div>
        <div class="hidden-sm hidden-md hidden-lg">
            <img src="images/infant-mobile.jpg" alt="Baby smiling">
        </div>
        <div class="smooth-scroll-btn marquee__scroll-down hidden-xs">
            <a href="#"  data-scrollto="#section__frenectomy" data-offset="50">
                <h4 class="scroll__text">Scroll Down</h4>
                <img src="images/arrow-down.svg" alt="Down Arrow">
            </a>
        </div>
    </section>

    {% include organisms/contact.html %}

    <section id="section__frenectomy" class="frenectomy background-light-purple section-margins pad-vert">
        <div class="frenectomy__wrapper container clearfix">
            <div class="heading frenectomy__heading">
                <h1>Infant Frenectomy</h1>
            </div>

            <div class="frenectomy__content row">
                <div class="col-md-5 col-sm-4 baby-photo"><img src="images/frenectomy-photo.jpg" alt="frenectomy"></div>
                <div class="col-md-7 col-sm-8">
                    <h4 class="frenectomy--byline-font">What is a Lip Tie or Tongue Tie?</h4>
                    <p>Well before your baby is born, you are committed to doing everything possible to help him or her
                        grow up happy, strong and healthy. Sometimes, you both need extra help to accomplish this, and
                        one common but easily treated problem some parents and infants face is a restrictive frenum.
                        This is also called a frenulum and is commonly known as tongue-tie or lip-tie.</p>
                    <p>A frenum is a stretch of tissue that connects and holds other tissues in place. The lingual
                        frenum is the tissue under the tongue connecting the tongue to the floor of the mouth. The
                        maxillary labial frenum is the tissue attaching the upper lip to the mouth.</p>
                    <br>
                    <h4 class="frenectomy--byline-font">What is a Frenectomy?</h4>
                    <p>For a newborn, lip-tie or tongue-tie can make breastfeeding difficult for the infant and painful
                        for the mother because the lip and/or tongue's limited movement prevents the infant from
                        properly latching on and drawing milk from the breast. If left untreated, it can eventually
                        impair the child's speech and proper tooth alignment. The newborns we treat should nurse
                        immediately and sometimes moms will notice a very significant difference both in the quantity
                        that the newborn consumes as well as their personal comfort while nursing.</p>
                    <p>Lip-tie and tongue-tie can be corrected by a procedure called frenectomy/ frenotomy. This can be
                        performed with scissors or a soft tissue laser. It is a simple in office procedure which can be
                        performed by Dr. Kollmann or Dr. Furusho.</p>
                    <p>Together, we'll do everything possible to help your little one grow up happy, strong and
                        healthy.</p>
                </div>
            </div>
        </div>
    </section>

    {% include organisms/contact.html additional=true %}
</div>