---
title: Patients
layout: default
link:
    text: Patients
    url: patients.html
weight: 2
---
<div class="main-container container">

    <section class="marquee">
        <div class="marquee_wrapper clearfix">
            <div class="marquee__slick">
                <div class="marquee__slide" style="background-image: url('images/tour/tour1.jpg');">
                    <div class="marquee__slide-wrapper">
                        <div class="slide--text-center container center">
                            <h1>Scheduling Your First Appointment is Easy!</h1>
                        </div>
                    </div>
                </div>
                <div class="marquee__slide" style="background-image: url('images/tour/tour2.jpg');">
                    <div class="marquee__slide-wrapper">
                        <div class="slide--text-center container center">
                            <h1>Scheduling Your First Appointment is Easy!</h1>
                        </div>
                    </div>
                </div>
                <div class="marquee__slide" style="background-image: url('images/tour/tour3.jpg');">
                    <div class="marquee__slide-wrapper">
                        <div class="slide--text-center container center">
                            <h1>Scheduling Your First Appointment is Easy!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include organisms/contact.html %}

    <section class="first-visit background-light-purple section-margins section-padding">
        <div class="first-visit__content clearfix">
            <div class="heading first-visit__heading">
                <h2>The First Dental Visit</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="images/kollmann-interaction.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>For some children and parents, the first visit to the dentist can be a stressful situation.
                        First, we establish trust between the child in an effort to set a positive tone for the rest of
                        your child's life with their dentist. We meet with the child one-on-one so that the child may be
                        introduced to the dentist and her team without the parent. While the parent may feel like their
                        presence in the treatment area is comforting, actually the opposite is true. The child may feel
                        like the parent is there to protect them from these “strangers” and cause undue discomfort and
                        anxiety to the child.</p>
                    <p>We then will implement the “show-tell-do” method to introduce the child to first things they know
                        like a toothbrush, then to the other dental implements in a way that’s been proven to help them
                        explore the process in a comfortable way. An open and honest dialogue helps the child to feel
                        comfortable and know what to expect during any treatments. We never use sedative drugs or
                        anesthesia as our goal is to have a well-adjusted child that is not afraid of the dentist. Even
                        children on the spectrum or who may have disabilities can benefit from this nurturing learning
                        atmosphere.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="qa clearfix section-margins">
        <div class="qa-content">
            <div class="heading qa__heading">


                <div class="service-accordion ui-accordion ui-widget ui-helper-reset" role="tablist">

                    <h3 class="ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-id-1"
                        aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="-1"><span
                            class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><i
                            class="fa fa-check-square-o"></i> Cosmetic Dentistry</h3>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom folded" id="ui-id-2"
                         aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true">
                        <p>Cosmetic dentistry can encompass things such as tooth-colored fillings, dental implants, or crowns.
                            We have many options, so please call us for a free cosmetic&nbsp;consultation.</p>
                        <p class="nobottommargin">A beautiful, bright, healthy smile can increase self confidence and overall
                            life satisfaction.</p>
                    </div>

                    <h3 class="ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-id-3"
                        aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1"><span
                            class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><i
                            class="fa fa-check-square-o"></i> Crowns &amp; bridges</h3>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom folded" id="ui-id-4"
                         aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                        <p>Protect and keep badly decayed or fractured teeth while maintaining a beautiful smile.</p>
                        <p class="nobottommargin">Made to perfectly match the shape and shade of your other teeth, they’re
                            durable, strong, and&nbsp;undetectable.</p>
                    </div>

                    <h3 class="ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-id-5"
                        aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1"><span
                            class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><i
                            class="fa fa-check-square-o"></i> Oral sedation</h3>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom folded" id="ui-id-6"
                         aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true">
                        <p class="nobottommargin">Sedation dentistry is an excellent treatment for patients with extensive
                            dental needs, or who are concerned about anxiety, difficulty getting numb, or
                            sensitive&nbsp;teeth.</p>
                    </div>

                    <h3 class="ui-accordion-header ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top"
                        role="tab" id="ui-id-7" aria-controls="ui-id-8" aria-selected="true" aria-expanded="true"
                        tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><i
                            class="fa fa-check-square-o"></i> Smile whitening</h3>
                    <div
                            class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active"
                            id="ui-id-8" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="false">
                        <p class="nobottommargin">Many everyday things like coffee, tea and wine can significantly dull teeth.
                            Smile-whitening enables us to significantly brighten your smile for that dazzling white smile you
                            deserve.</p>
                    </div>

                </div>

            </div>
            <h1>Accordian QA List goes here</h1>
        </div>
    </section>

    <section class="comfort background-light-purple section-margins section-padding">
        <div class="comfort__content clearfix">
            <div class="heading comfort__heading">
                <h2>Patient Comfort</h2>
            </div>

            <div class="col-md-6">
                <img src="" alt="">
            </div>
            <div class="col-md-6">
                <p>Our office was designed for infants, children and teens. From the arcade games in the waiting room to
                    the life-sized wall art, kids feel right at home. It's a unique atmosphere that helps children relax
                    and enjoy their experience. Children deserve to experience a gentle, caring approach to their dental
                    care.</p>
                <p>Our goal is to help your child grow into an adult who routinely and comfortably seeks dental care.
                    This often requires extra time with your child, distraction through many of our child friendly
                    amenities, or in some cases the use of appropriate sedatives. It is very important to discuss with
                    one of our doctors any bad experiences or fears your child may have in order to provide the best
                    possible care for your child.</p>
            </div>
        </div>
    </section>

    {% include organisms/contact.html additional=true %}

</div>