---
title: Patients
layout: default
link:
    text: Patients
    url: patients.html
weight: 2
---
<div class="main-container container">

    <section class="marquee marquee--custom">
            <div class="marquee__wrapper clearfix">
                <div class="marquee__slick">
                    <div class="marquee__slide" style="background-image: url('images/tour/tour1.jpg');">
                        <div class="marquee-patients marquee__slide-wrapper">
                            <div class="slide--text-center container center">
                                <h1 class="marquee-patients-content">Scheduling Your First Appointment is Easy!</h1>
                            </div>
                        </div>
                    </div>
                    <div class="marquee__slide" style="background-image: url('images/tour/tour2.jpg');">
                        <div class="marquee-patients marquee__slide-wrapper">
                            <div class="slide--text-center container center">
                                <h1 class="marquee-patients-content">Scheduling Your First Appointment is Easy!</h1>
                            </div>
                        </div>
                    </div>
                    <div class="marquee__slide" style="background-image: url('images/tour/tour3.jpg');">
                        <div class="marquee-patients marquee__slide-wrapper">
                            <div class="slide--text-center container center">
                                <h1 class="marquee-patients-content">Scheduling Your First Appointment is Easy!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="smooth-scroll-btn marquee__scroll-down">
                <a href="" data-href="#section__visit">
                    <h4 class="scroll__text">Scroll Down</h4>
                    <img src="images/arrow-down.svg" alt="Down Arrow">
                </a>
            </div>
    </section>

    {% include organisms/contact.html %}

    <section id="section__visit" class="first-visit background-light-purple section-margins section-padding">
        <div class="first-visit__content clearfix">
            <div class="heading first-visit__heading">
                <h2>The First Dental Visit</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="images/kollmann-interaction.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>For some children and parents, the first visit to the dentist can be a stressful situation.
                        First, we establish trust between the child in an effort to set a positive tone for the rest of
                        your child's life with their dentist. We meet with the child one-on-one so that the child may be
                        introduced to the dentist and her team without the parent. While the parent may feel like their
                        presence in the treatment area is comforting, actually the opposite is true. The child may feel
                        like the parent is there to protect them from these “strangers” and cause undue discomfort and
                        anxiety to the child.</p>
                    <p>We then will implement the “show-tell-do” method to introduce the child to first things they know
                        like a toothbrush, then to the other dental implements in a way that’s been proven to help them
                        explore the process in a comfortable way. An open and honest dialogue helps the child to feel
                        comfortable and know what to expect during any treatments. We never use sedative drugs or
                        anesthesia as our goal is to have a well-adjusted child that is not afraid of the dentist. Even
                        children on the spectrum or who may have disabilities can benefit from this nurturing learning
                        atmosphere.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="qa clearfix section-margins section-padding background-light-green">
        <div class="qa__wrapper">
            <div class="heading qa__heading">
                <h2>Parent Questions  & Answers</h2>
            </div>
        </div>

        <div class="qu_content">
            <!--Accordion-->
            <div class="service-accordion ui-accordion ui-widget ui-helper-reset" role="tablist">

                {% for item in site.data.questions.items %}

                <h3 class="qa__question ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-id-{{ forLoop.index*2-1 }}"
                    aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="-1">
                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e">
                    </span><i class="qa__icon fa fa-check-square-o"></i> {{ item.question }}</h3>
                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom {% if forLoop.first %}ui-accordion-content-active{% else %}folded{% endif %}" id="ui-id-{{ forLoop.index*2 }}"
                     aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true">

                    {% for answer in item.answers %}
                        <p class="qa__answer {% if forLoop.last %}nobottommargin{% endif %}">{{ answer }}</p>
                    {% endfor %}

                </div>

                {% endfor %}

            </div>
        </div>

    </section>

    <section class="comfort background-light-purple section-margins section-padding">
        <div class="comfort__content clearfix">
            <div class="heading comfort__heading">
                <h2>Patient Comfort</h2>
            </div>

            <div class="col-md-6">
                <img src="images/patient-comfort.jpg" alt="Smiling young girl">
            </div>
            <div class="col-md-6">
                <p>Our office was designed for infants, children and teens. From the arcade games in the waiting room to
                    the life-sized wall art, kids feel right at home. It's a unique atmosphere that helps children relax
                    and enjoy their experience. Children deserve to experience a gentle, caring approach to their dental
                    care.</p>
                <p>Our goal is to help your child grow into an adult who routinely and comfortably seeks dental care.
                    This often requires extra time with your child, distraction through many of our child friendly
                    amenities, or in some cases the use of appropriate sedatives. It is very important to discuss with
                    one of our doctors any bad experiences or fears your child may have in order to provide the best
                    possible care for your child.</p>
            </div>
        </div>
    </section>

    {% include organisms/contact.html additional=true %}

</div>