---
title: Services
layout: default
link:
    text: Services
    url: services.html
weight: 3
---
<div class="main-container">

    <section class="marquee section-margins" style="background-image: url('images/services-masthead.jpg');">

        <div class="marquee--flex marquee--flex--bottomright">
            <div class="marquee__wrapper marquee__title--smallest">
                <h1>Find out more about<br>Dentistry for Kids</h1>
            </div>
        </div>
        <div class="smooth-scroll-btn marquee__scroll-down">
            <a href="" data-href="#section__services">
                <h4 class="scroll__text">Scroll Down</h4>
                <img src="images/arrow-down.svg" alt="Down Arrow">
            </a>
        </div>
    </section>

    {% include organisms/contact.html %}

    <section id="section__services" class="services section-margins">
        <div class="services__content clearfix">
            <div class="heading services__heading">
                <h2>Pediatric Services</h2>
            </div>

            <div class="row">

                <a href="#" data-toggle="modal" data-target="#Infant" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/frenectomy.jpg" alt="">
                        <h6>Infant Frenectomy</h6>
                    </div>
                </a>

                <a href="#" data-toggle="modal" data-target="#Fillings" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/fillings.jpg" alt="">
                        <h6>Fillings</h6>
                    </div>
                </a>

                <a href="#" data-toggle="modal" data-target="#Crowns" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/crowns.jpg" alt="">
                        <h6>Crowns</h6>
                    </div>
                </a>

            </div>
            <hr>
            <div class="row">

                <a href="#" data-toggle="modal" data-target="#Space" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/space-maintainers.jpg" alt="">
                        <h6>Space Maintainers</h6>
                    </div>
                </a>
                <a href="#" data-toggle="modal" data-target="#Mouth" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/mouth-guards.jpg" alt="">
                        <h6>Mouth Guards</h6>
                    </div>
                </a>
                <a href="#" data-toggle="modal" data-target="#Pulpotomy" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/pulpotomy.jpg" alt="">
                        <h6>Pulpotomy (Baby Root Canal)</h6>
                    </div>
                </a>
            </div>
            <hr>
            <div class="row">
                <a href="#" data-toggle="modal" data-target="#Orthodontic" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/child-orthodontics.jpg" alt="">
                        <h6>Orthodontic Treatment</h6>
                    </div>
                </a>
                <a href="#" data-toggle="modal" data-target="#Sealants" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/sealants.jpg" alt="">
                        <h6>Sealants</h6>
                    </div>
                </a>
                <a href="#" data-toggle="modal" data-target="#Digital" class="read-more">
                    <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/digital-xrays.jpg" alt="">
                        <h6>Digital x-Rays</h6>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="comfort background-light-purple section-margins section-padding">
        <div class="comfort__content clearfix">
            <div class="heading comfort__heading">
                <h2>About Fixing Teeth</h2>
            </div>

            <div class="col-md-6 col-md-push-6">
                <img src="images/furusho-interaction.jpg" alt="Smiling young girl">
            </div>
            <div class="col-md-6 col-md-pull-6">
                <p>When a child's teeth have been damaged by dental decay, trauma or congenital defects, we carefully
                    consider several factors before making a decision as to how to fix those teeth. Some of these
                    factors include the age of the child, how severely the tooth has been damaged, and in the case of a
                    baby tooth, how long that tooth has to function in the mouth. The relative importance of esthetics
                    versus durability often determines which filling material we use. In any case, we believe in doing a
                    procedure once and doing it right.</p>
                <p>Our decisions for treating your child are never based on finances or insurance especially if it
                    compromises the quality of treatment your child receives. We will discuss all the options with you
                    but we hope you trust us to choose the methods and materials that will provide the best long-term
                    results for you and your children and that our recommendations will always be in the best interest
                    of your child... who is Number One.</p>
                <p>Prevention is always better than treatment. By actively preventing disease and decay through regular
                    home care, professional dental cleanings and regular exams, your child will maintain a healthy,
                    beautiful smile.</p>
            </div>
        </div>
    </section>

    <section class="services-modals">

        {% for item in site.data.services.items %}

        <div class="modal fade" id="{{ item.modalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{ item.service }}</h4>
                        </div>
                        <div class="modal-body">
                            {% for description in item.descriptions %}
                                <p>{{ description }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </section>

    {% include organisms/contact.html additional=true %}
</div>