---
title: Meet The Team
layout: default
link:
    text: Meet&nbsp;The&nbsp;Team
    url: team.html
weight: 1
---
<div class="main-container">

    <!--<section class="marquee marquee&#45;&#45;custom section-margins" style="background-image: url('images/drs-slide.jpg');">-->
        <!--<div class="marquee&#45;&#45;flex marquee&#45;&#45;flex-topleft">-->
            <!--<div class="marquee__wrapper">-->
                <!--<h1 class="font-accent-purple">A caring & positive<br>dental experience<br>for your kids</h1>-->
                <!--<h2 class="team&#45;&#45;byline font-accent-purple">Meet Drs. Kirk Kollmann <br>& Cissy Furusho</h2>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="smooth-scroll-btn marquee__scroll-down">-->
            <!--<a href="" data-href="#section__team">-->
                <!--<h4 class="scroll__text">Scroll Down</h4>-->
                <!--<img src="images/arrow-down.svg" alt="Down Arrow">-->
            <!--</a>-->
        <!--</div>-->
    <!--</section>-->
    <section class="team-header section-margins">
        <div class="team-header-wrapper hidden-xs" style="background-image: url('images/drs-slide.jpg')">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="font-accent-dark-purple">A caring & positive dental experience for your kids</h1>
                    <h2 class="font-accent-dark-purple">Meet Drs. Kirk Kollmann  <br>& Cissy Furusho</h2>
                </div>
            </div>
        </div>
        <div class="hidden-sm hidden-md hidden-lg">
            <img src="images/team-mobile.jpg" alt="Dr. Furusho">
        </div>
        <div class="smooth-scroll-btn marquee__scroll-down hidden-xs">
            <a href="" data-href="#section__team">
                <h4 class="scroll__text">Scroll Down</h4>
                <img src="images/arrow-down.svg" alt="Down Arrow">
            </a>
        </div>
    </section>

    {% include organisms/contact.html %}

    <section id="section__team" class="team section-margins">
        <div class="team_wrapper clearfix">

            <div class="heading team__heading background-light-purple">
                <h1>Meet The Team</h1>
            </div>

            <div class="background-light-purple pad-bottom">
                <div class="container">
                    <div class="row furusho">
                        <div class="col-md-3 col-sm-4 main-bio-pic">
                            <img src="images/bios/furusho-bio.jpg" alt="picture of dentist">
                        </div>
                        <div class="col-md-9 col-sm-8 furusho-bio">
                            <h2 class="team__main-title pad-bottom font-accent-purple">Cissy K. Furusho, DDS</h2>
                            <p>Dr. Cissy K. Furusho received her B.S. in biology from the University of Illinois,
                                Champaign-Urbana and graduated with her D.D.S., her pediatric certificate, and her masters in
                                oral biology from UIC College of Dentistry. She holds a certificate in Orofacial Myofunctional
                                Therapy. She is highly involved in the American Association of Women Dentist and is also very
                                active as a member in the American Academy of Pediatric Dentistry, the American Dental
                                Association and the Chicago Dental Society. Dr. Furusho is also a clinical instructor at the
                                University of Illinois at Chicago, College of Dentistry. She enjoys riding her bicycle and loves
                                to bake and spend time with her family. Dr. Furusho is very excited to be working with her
                                pediatric dentist Dr. Berman and feels very fortunate to have found a wonderful partner in Dr.
                                Kollmann. She looks forward to being an important part in your children's lives!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pad-vert">
                <div class="row kollman">
                    <div class="col-md-3 col-sm-4 col-md-push-9 col-sm-push-8 main-bio-pic">
                        <img src="images/bios/kollmann-bio.jpg" alt="picture of dentist">
                    </div>
                    <div class="col-md-9 col-sm-8 col-md-pull-3 col-sm-pull-4 kollman-bio">
                        <h2 class="team__main-title pad-bottom font-accent-purple">Kirk B. Kollman, DMD</h2>
                        <p>Dr. Kirk Kollmann graduated from the University of Florida College of Dentistry and received his
                            pediatric dental degree from Children's Hospital of Michigan in Detroit. Keeping with his
                            hospital background, he is a clinical instructor and volunteers his time working with the Cleft
                            Palate - Craniofacial Team at Children's Memorial Hospital. Dr. Kollmann has taken extensive
                            continuing education in the field of Orafacial Myofunctional Therapist by the Academy of
                            Orofacial Myofunctional Therapy. He serves as a spokesperson for the Chicago Dental Society and
                            is involved in various aspects of organized dentistry. He loves to be the do-it-yourself
                            craftsman, being proficient in electricity, carpentry, woodworking, plumbing, etc. Computers and
                            gadgets are another one of his hobbies. He holds great respect for his partner Dr. Furusho.</p>
                    </div>
                </div>
            </div>
            <hr>

            {% include organisms/associations.html %}

            <section class="team-additional background-light-purple marg-top">
                <div class="team-slider">
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#adam">
                            <img src="images/bios/adam-bio.jpg" alt="adam">
                            <h5>Adam</h5>
                        </a>
                    </div>
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#berman">
                            <img src="images/bios/berman-bio.jpg" alt="berman">
                            <h5>Berman</h5>
                        </a>
                    </div>
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#cassidy">
                            <img src="images/bios/cassidy-bio.jpg" alt="cassidy">
                            <h5>Cassidy</h5>
                        </a>
                    </div>
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#deneaqua">
                            <img src="images/bios/deneaqua-bio.jpg" alt="deneaqua">
                            <h5>Deneaqua</h5>
                        </a>
                    </div>
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#letticia">
                            <img src="images/bios/letticia-bio.jpg" alt="letticia">
                            <h5>Letticia</h5>
                        </a>
                    </div>
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#marisela">
                            <img src="images/bios/marisela.jpg" alt="marisela">
                            <h5>Marisela</h5>
                        </a>
                    </div>
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#michael">
                            <img src="images/bios/michael-bio.jpg" alt="michael">
                            <h5>Michael</h5>
                        </a>
                    </div>
                    <div class="team-member">
                        <a href="#" data-toggle="modal" data-target="#tanisha">
                            <img src="images/bios/tanisha-bio.jpg" alt="tanisha">
                            <h5>Tanisha</h5>
                        </a>
                    </div>
                </div>

            </section>

        </div>

    </section>

    {% include organisms/contact.html additional=true %}

    <section class="team-modals">

        {% for item in site.data.team.items %}

        <div class="modal fade" id="{{ item.modalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{ item.name }}</h4>
                        </div>
                        <div class="modal-body team__modal-pic">
                            <img src="images/bios/{{ item.modalId }}-bio.jpg" alt="">
                            <p>{{ item.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </section>
</div>