//colors
//========

//backgrounds
$background-dark: #8117B7;
$background-first: #76BFB7;
$background-second: #EFEAF1;
$background-third: #E5F0EF;
$background-footer: #4A4A4A;

//font colors
$primary-font: #512A65;
$accent-font-first: #FFFFFF;
$accent-font-second: #8117B7;
$accent-font-third: #FFFFFF;

//btn colors
$btn-border: #FFFFFF;