<nav class="clearfix">

    <div class="custom-nav-btn">
        <div class="pull-left">
            <i class="nav__menu-icon fa fa-bars"></i>
        </div>
    </div>

    <ul class="nav nav-pills nav-justified nav--toggle">
        <li><a class="nav__link" href="index.html#">New Patient Specials</a></li>
        <li><a class="nav__link" href="index.html#">Patient Reviews</a></li>
        {% assign sorted = site.pages | sort:"weight" %}
        {% for item in sorted %}
            {% if item.link.text and item.link.text != "Home" %}
                <li {% if page.title==item.title %} class="active" {% endif %}>
                    <a class="nav__link" href="{{ item.link.url }}">{{ item.link.text }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>