<nav class="clearfix">

    <div class="custom-nav-btn">
        <div class="pull-left">
            <i class="custom-nav__menu-icon fa fa-bars"></i>
        </div>
    </div>

    <ul class="custom-nav nav-pills nav--toggle">
        <li><a class="nav__link font-accent-yellow" href="index.html#section-specials">New&nbsp;Patient&nbsp;Specials</a></li>
        <li><a class="nav__link font-accent-lightgreen" href="index.html#section-reviews">Patient&nbsp;Reviews</a></li>
        {% assign sorted = site.pages | sort:"weight" %}
        {% for item in sorted %}
            {% if item.link.text and item.link.text != "Home" %}
                <li {% if page.title==item.title %} class="active" {% endif %}>
                    <a class="nav__link" href="{{ item.link.url }}">{{ item.link.text }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>