---
title: Home
layout: default
meta:
  title: Pediatric Dentistry Chicago, Pediatric Dentist, Teeth Braces, Orthodontics - Home
link:
  text: Home
  url: index.html
weight: 0
---
<div class="main-container">

  {% include organisms/contact.html %}

  <section class="about">
    <div class="about__content container clearfix">
      <div class="about__first-section">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <h5 class="about__lead-quote">We’ve been fortunate to help thousands of kids grow into fearless adult patients who enjoy visiting the dentist. We would be honored if you stopped by for a free office tour with your child, and give us an opportunity to earn your trust.</h5>
            <p class="quoty">–Drs. Kirk Kollmann and Cissy Furusho</p>
          </div>
        </div>
      </div>
      <div class="about__second-section">
        <div class="about__img">
          <img src="" alt="">
        </div>
        <div class="row">
          <div class="col-md-6 about__more">
            <h3>What is a Pediatric Dentist?</h3>
            <p>Pediatric dentists have an additional 2-3 years of training to learn how to deal with the behavioral
              aspects of children, how to make them feel comfortable, and to make the experience pleasant in addition to
              clinical techniques specific to children. <span class="font--highlight">We are especially trained and qualified to treat patients with
              special needs.</span></p>
            <a href="#">Read More</a>
          </div>
          <div class="col-md-6 about__more">
            <h3>What Makes Dentistry for Kids Special?</h3>
            <p>We make an extra effort to create an exciting environment which makes a big difference, especially in the
              case of the very apprehensive family. <span class="font--highlight">By bringing your child to a pediatric dentist as early as age one
              year</span>, you can ensure the timely prevention of dental disease and at the same time provide your child with
              an upbeat experience that can last a lifetime.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="specials">
    <div class="specials__heading heading">
      <h2>New Patient Specials</h2>
      <h4>Offers end September 20, 2016</h4>
    </div>
    <div class="specials__content">
      <div class="row">
        <div class="specials__tile col-sm-6 col-md-4 col-md-offset-2">
          <h3>Children's New Patient&nbsp;Dental Exam</h3>
          <h2>$75</h2>
          <p>Save $57</p>
          <p>Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed x‑rays, and a
            comprehensive exam.</p>
          <p>(D0150, D0272)</p>
        </div>
        <div class="specials__tile col-sm-6 col-md-4">
          <h3>Children's Dental&nbsp;Cleaning and Fluoride</h3>
          <h2>$45</h2>
          <p>Save $52</p>
          <p>Patients 12 and under receive a professional dental cleaning and topical varnish application. A new patient dental exam is required.</p>
          <p>(D1120, D1208)</p>
        </div>
      </div>
      <div class="row">
        <div class="specials__tile col-sm-6 col-md-4 col-md-offset-2">
          <h2>FREE</h2>
          <h3>Prenatal Consultation</h3>
          <p>Expecting parents are encouraged to call us for a brief consultation regarding infant dental care and what to expect in the early years.</p>
        </div>
        <div class="specials__tile col-sm-6 col-md-4">
          <h2>FREE</h2>
          <h3>Children Under Two</h3>
          <p>Bring your child in before his or her second birthday for a free exam and oral hygiene instruction.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="reviews">
    <div class="reviews__heading heading">
      <h2>See What Parents are Saying</h2>
    </div>

    <div class="reviews__main">
      <h1>Review Carousel Here</h1>
    </div>
  </section>

  {% include organisms/contact.html additional=true %}

</div>