---
title: Services
layout: default
link:
    text: Services
    url: services.html
weight: 3
---
<div class="main-container">

    {% include organisms/contact.html %}

    <section class="services section-margins">
        <div class="services__content clearfix">
            <div class="heading services__heading">
                <h2>Pediatric Services</h2>
            </div>

            <div class="row">
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/frenectomy.jpg" alt="">
                    <h6>Infant Frenectomy</h6>
                </div>
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/fillings.jpg" alt="">
                    <h6>Fillings</h6>
                </div>
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/crowns.jpg" alt="">
                    <h6>Crowns</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/space-maintainers.jpg" alt="">
                    <h6>Space Maintainers</h6>
                </div>
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/mouth-guards.jpg" alt="">
                    <h6>Mouth Guards</h6>
                </div>
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/pulpotomy.jpg" alt="">
                    <h6>Pulpotomy (Baby Root Canal)</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/child-orthodontics.jpg" alt="">
                    <h6>Orthodontic Treatment</h6>
                </div>
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/sealants.jpg" alt="">
                    <h6>Sealants</h6>
                </div>
                <div class="center col-sm-4 services__tile"><img class="services__image" src="images/services/digital-xrays.jpg" alt="">
                    <h6>Digital x-Rays</h6>
                </div>
            </div>
        </div>
    </section>

    {% include organisms/contact.html additional=true %}
</div>