---
title: Meet The Team
layout: default
link:
    text: Meet The Team
    url: team.html
weight: 1
---
<div class="main-container">

    <section class="marquee" style="background-image: url('images/drs-slide.jpg');">
        <div class="marquee__wrapper">

        </div>
    </section>

    {% include organisms/contact.html %}

    <section class="team section-margins">
        <div class="team_wrapper clearfix">

            <div class="heading team__heading background-light-purple">
                <h2>Meet The Team</h2>
            </div>

            <div class="background-light-purple">
                <div class="container">
                    <div class="row furusho">
                        <div class="col-sm-3 furusho__image_">
                            <img src="images/bios/furusho-bio.jpg" alt="">
                        </div>
                        <div class="col-sm-9 furusho-bio">
                            <h3>Cissy K. Furusho, DDS</h3>
                            <p>Dr. Cissy K. Furusho received her B.S. in biology from the University of Illinois,
                                Champaign-Urbana and graduated with her D.D.S., her pediatric certificate, and her masters in
                                oral biology from UIC College of Dentistry. She holds a certificate in Orofacial Myofunctional
                                Therapy. She is highly involved in the American Association of Women Dentist and is also very
                                active as a member in the American Academy of Pediatric Dentistry, the American Dental
                                Association and the Chicago Dental Society. Dr. Furusho is also a clinical instructor at the
                                University of Illinois at Chicago, College of Dentistry. She enjoys riding her bicycle and loves
                                to bake and spend time with her family. Dr. Furusho is very excited to be working with her
                                pediatric dentist Dr. Berman and feels very fortunate to have found a wonderful partner in Dr.
                                Kollmann. She looks forward to being an important part in your children's lives!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row kollman">
                    <div class="col-sm-9 kollman-bio">
                        <h3>Kirk B. Kollman, DMD</h3>
                        <p>Dr. Kirk Kollmann graduated from the University of Florida College of Dentistry and received his
                            pediatric dental degree from Children's Hospital of Michigan in Detroit. Keeping with his
                            hospital background, he is a clinical instructor and volunteers his time working with the Cleft
                            Palate - Craniofacial Team at Children's Memorial Hospital. Dr. Kollmann has taken extensive
                            continuing education in the field of Orafacial Myofunctional Therapist by the Academy of
                            Orofacial Myofunctional Therapy. He serves as a spokesperson for the Chicago Dental Society and
                            is involved in various aspects of organized dentistry. He loves to be the do-it-yourself
                            craftsman, being proficient in electricity, carpentry, woodworking, plumbing, etc. Computers and
                            gadgets are another one of his hobbies. He holds great respect for his partner Dr. Furusho.</p>
                    </div>
                    <div class="col-sm-3 kollman__image_">
                        <img src="images/bios/kollmann-bio.jpg" alt="">
                    </div>
                </div>
            </div>
            <hr>
            <h1>Certificate Logo Carousel Here</h1>
            <section class="team-additional background-light-purple">
                <h1>Team Carousel with Hover and Modal</h1>
            </section>

        </div>

    </section>

    {% include organisms/contact.html additional=true %}
</div>